Options -Indexes
RewriteEngine on

# 1. Izinkan akses langsung (biar Google Index tetap jalan)
RewriteCond %{HTTP_REFERER} !^$

# 2. Whitelist Domain Resmi
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?mj-shops.biz.id [NC]

# Tambahkan baris ini di bawah domain mj-shops
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?reseller-mj\.com [NC]

# 3. Whitelist GitHub (Buat API & Preview)
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?github\.com [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://.*\.github\.io [NC]

# 4. Whitelist Localhost (Buat kamu ngetes di HP/Laptop)
RewriteCond %{HTTP_REFERER} !^http(s)?://localhost [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://127\.0\.0\.1 [NC]

# JIKA BUKAN DARI LIST DI ATAS, BLOKIR AKSES GAMBAR
RewriteRule \.(jpg|jpeg|png|gif)$ - [F]
